Source: ros-kinetic-robot-recorder
Section: misc
Priority: extra
Maintainer: Jonathan Hechtbauer <jonathan.hechtbauer@ipa.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-robot-recorder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-recordit, ros-kinetic-rviz-recorder-buttons
Description: Meta package that contains all essential packages for the robot recorder.
