Source: ros-kinetic-rviz-recorder-buttons
Section: misc
Priority: extra
Maintainer: shi <scoopysqy@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-actionlib, ros-kinetic-catkin, ros-kinetic-class-loader, ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-rviz, ros-kinetic-std-srvs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-rviz-recorder-buttons
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-actionlib, ros-kinetic-pluginlib, ros-kinetic-roscpp, ros-kinetic-rviz, ros-kinetic-std-srvs
Description: The rviz_recorder_buttons package
